@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.details_container {
  display: flex;
  overflow-x: hidden;
  background: linear-gradient(#143D71, #6099AF);
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
}

.details_navContainer {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  flex-direction: column;
  width: 6vw;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0 1em 1em 0;
  transition: all 0.15s ease;
  position: absolute;
}

.details_navContainerOpen {
  width: 12em;
  transition: all 0.15s ease;
}

.details_navContainer>img {
  margin-left: 2.2em;
  width: 1.6em;
  margin-top: 2em;
  cursor: pointer;
}

.details_navContainer ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 4em;
  margin-left: 2.2em;
  margin-top: 8em;
}

.details_navContainer li {
  display: flex;
  list-style: none;
  align-items: center;
}

.details_navContainer li img {
  width: 1.6em;
  margin-right: 0.8em;
  cursor: pointer;
}

.details_navLink {
  color: #FFFBE3;
  text-decoration: none;
  font-size: 1em;
  transform: translateX(-300%);
  transition: all 0.15s ease;
  margin-top: 0.3em;
}

.details_navLink:hover {
  color: #f0bc28;
  transition: all 0.15s ease-in;
}

.details_navLinkOpen {
  transform: translateX(0%);
  transition: all 0.15s ease;
}

.details_navContainer input {
  background: transparent;
  border: none;
  outline: 0.15em solid #FFFFFF;
  border-radius: 2em;
  height: 2.2em;
  width: 24em;
  color: #FFFBE3;
  padding-inline: 1em;
  padding-top: 0.1em;
}

.details_navContainer input::-webkit-search-cancel-button {
  position: relative;
  right: 0.4em;
  -webkit-appearance: none;
  width: 0.8em;
  content: url(../Assets/Icons/close.png);
}

.details_navContainer input::placeholder {
  color: #FFFBE3;
}

/* Container Detalhes Arte */

.details_paintingDetailsContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-left: 8em;
}

.details_paintingContainer {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  width: 46em;
  height: 38em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details_paintingContainer h1 {
  color: #FFFBE3;
  position: absolute;
  top: -1em;
}

.details_paitingImage {
  width: 50em;
  object-fit: contain;
  height: 36em;
}

.details_expandImage {
  z-index: 2;
  width: 30em;
  height: 100vh;
}

.details_buttonExpandImage {
  position: absolute;
  width: 2em;
  top: 91%;
  left: 92%;
  cursor: pointer;
}

.details_infoContainer {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 34em;
  margin-left: 2em;
}

.details_infoContainer ul {
  margin-left: 1em;
  list-style: none;
  background-color: violet;
  padding-top: 2em;
  height: 22em;
}

.details_infoContainer ul>li {
  display: flex;
  background-color: aquamarine;
}

.details_palleteContainer {
  width: 28em;
  height: 12em;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details_palleteContainer h2 {
  color: #FFFBE3;
  position: absolute;
  top: 5em;
}

.details_palleteColor {
  width: 6em;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details_palleteColor p {
  color: #FFFBE3;
}