@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url(../Assets/BG_noite-estrelada.jpg) center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main_navHamburgerContainer {
  display: none;
}

.main_navContainer {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  width: 70vw;
  margin-top: 2em;
  padding-block: 1.1em;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
}

.main_navContainer>img {
  display: none;
}

.main_navContainer ul {
  display: flex;
  list-style: none;
  gap: 8em;
}

.main_navContainer li {
  display: flex;
  list-style: none;
}

.main_navContainer li img {
  display: none;
}

.main_navLink {
  color: #FFFBE3;
  text-decoration: none;
  font-size: 1.1em;
}

.main_navLink:hover {
  color: #f0bc28;
  transition: all 0.15s ease-in;
}

.main_infoContainer {
  width: 48em;
  height: 30em;
  align-self: flex-end;
  margin: 2em 10em 0 0;
}

.main_infoContainer h1 {
  color: #FFFBE3;
  font-size: 2.2em;
  text-transform: uppercase;
  text-shadow: 0em 0em 0.8em rgba(0, 0, 0, 0.6);
}

.main_infoContainer h2 {
  color: #FFFBE3;
  font-size: 1.8em;
  text-shadow: 0em 0em 0.8em rgba(0, 0, 0, 0.6);
}

.main_infoContainer p {
  color: #FFFBE3;
  text-shadow: 0em 0em 0.8em rgba(0, 0, 0, 0.6);
  margin-top: 1em;
}

.main_infoContainer button {
  width: 100%;
  align-self: center;
  border: none;
  height: 3em;
  letter-spacing: 0.1em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  color: #FFFBE3;
  font-size: 1.4em;
  text-transform: uppercase;
  border-radius: 0.8em;
  cursor: pointer;
  padding-top: 0.2em;
}

.main_container button:hover {
  color: #f0bc28;
  transition: all 0.15s ease-in;
}

.main_swiperContainer {
  margin-block: 2em;
  padding-block: 2em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(1em);
  border-radius: 1em;
}

.main_swiperImage {
  margin-block: 1.4em;
  width: 100%;
  height: 12em;
  object-fit: cover;
  border: 0.2em solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main_navHamburgerContainer {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1em);
    width: 100vw;
    transition: all 0.2s ease;
    align-items: center;
    position: absolute;
  }

  .main_navHamburgerClose {
    transform: translateY(0%);
  }
  
  .main_navHamburgerOpen {
    transform: translateY(-100%);
    
  }

  .main_navHamburgerContainer>img {
    display: flex;
    margin-left: 2.2em;
    width: 1.4em;
    margin-block: 1em;
    cursor: pointer;
  }

  .main_navContainer {
    flex-direction: column;
    width: 50%;
    margin-top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-50%);
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0 1em 1em 0;
    transition: all 0.15s ease;
    position: absolute;
    z-index: 2;
  }

  .main_navContainerClose {
    transform: translateX(-100%);
  }
  
  .main_navContainerOpen {
    transform: translateX(0%);
  }

  .main_navContainer>img {
    display: flex;
    margin-left: 2.2em;
    width: 1.4em;
    margin-top: 2em;
    cursor: pointer;
  }
  
  .main_navContainer ul {
    margin-top: 4em;
    flex-direction: column;
    gap: 4em;
    margin-left: 2.2em;
  }
  
  .main_navContainer li {
    display: flex;
  }

  .main_navContainer li img {
    display: flex;
    width: 1.4em;
    margin-right: 0.8em;
  }

  .main_navLink {
    padding-top: 0.2em;
    font-size: 1.2em;
  }

  .main_infoContainer {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-block: auto;
    margin-inline: auto;
  }
  
  .main_infoContainer h1 {
    font-size: 1.8em;
    text-align: center;
  }
  
  .main_infoContainer h2 {
    text-align: center;
    font-size: 1.4em;
    margin-top: 0.2em;
  }
  
  .main_infoContainer p {
    margin-top: 1.6em;
    font-size: 1em;
    text-align: center;
  }
  
  .main_infoContainer button {
    height: 2.4em;
    font-size: 1.4em;
    text-transform: uppercase;
  }
  
  .main_swiperContainer {
    margin-block: 2em;
    width: 90vw;
  }
  
  .main_swiperImage {
    height: 10em;
  }
}

/* Estilos para telas entre 601px e 768px (Desktop) */
@media (min-width: 481px) and (max-width: 767px) {
  
  .main_navHamburgerContainer {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1em);
    -webkit-backdrop-filter: blur(1em);
    width: 100vw;
    transition: all 0.2s ease;
    align-items: center;
    position: absolute;
  }

  .main_navHamburgerClose {
    transform: translateY(0%);
  }
  
  .main_navHamburgerOpen {
    transform: translateY(-100%);
    
  }

  .main_navHamburgerContainer>img {
    display: flex;
    margin-left: 2.2em;
    width: 1.8em;
    margin-block: 1em;
    cursor: pointer;
  }

  .main_navContainer {
    flex-direction: column;
    width: 50%;
    margin-top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-50%);
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0 1em 1em 0;
    transition: all 0.15s ease;
    position: absolute;
    z-index: 2;
  }

  .main_navContainerClose {
    transform: translateX(-100%);
  }
  
  .main_navContainerOpen {
    transform: translateX(0%);
  }

  .main_navContainer>img {
    display: flex;
    margin-left: 2.2em;
    width: 1.8em;
    margin-top: 2em;
    cursor: pointer;
  }
  
  .main_navContainer ul {
    margin-top: 4em;
    flex-direction: column;
    gap: 4em;
    margin-left: 2.2em;
  }
  
  .main_navContainer li {
    display: flex;
  }

  .main_navContainer li img {
    display: flex;
    width: 1.8em;
    margin-right: 0.8em;
  }

  .main_navLink {
    padding-top: 0.2em;
    font-size: 1.4em;
  }

  .main_infoContainer {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-block: auto;
    margin-inline: auto;
  }
  
  .main_infoContainer h1 {
    font-size: 2.2em;
    text-align: center;
  }
  
  .main_infoContainer h2 {
    text-align: center;
    font-size: 1.8em;
    margin-top: 0.2em;
  }
  
  .main_infoContainer p {
    margin-top: 1.6em;
    font-size: 1.2em;
    text-align: center;
  }
  
  .main_infoContainer button {
    height: 3em;
    font-size: 1.4em;
    text-transform: uppercase;
  }
  
  .main_swiperContainer {
    margin-block: 3em;
    width: 90vw;
  }
  
  .main_swiperImage {
    height: 10em;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .main_navContainer {
    display: flex;
    width: 70vw;
    margin-top: 2em;
    padding-block: 1.1em;
  }
  
  .main_navContainer>img {
    display: none;
  }
  
  .main_navContainer ul {
    display: flex;
    list-style: none;
    gap: 4em;
  }
  
  .main_navContainer li {
    display: flex;
  }

  .main_navContainer li img {
    display: none;
  }

  .main_navLink {
    font-size: 1em;
  }
  
  .main_navLink:hover {
    color: #f0bc28;
    transition: all 0.15s ease-in;
  }
  
  .main_infoContainer {
    width: 90vw;
    height: auto;
    align-self: flex-end;
    margin: auto;
  }
  
  .main_infoContainer h1 {
    font-size: 2.6em;
    text-align: center;
  }
  
  .main_infoContainer h2 {
    font-size: 2.2em;
    text-align: center;
  }
  
  .main_infoContainer p {
    margin-top: 1.4em;
    font-size: 1.4em;
    text-align: center;
  }
  
  .main_infoContainer button {
    width: 100%;
    height: 3em;
    font-size: 1.4em;
  }
  
  .main_container button:hover {
    color: #f0bc28;
    transition: all 0.15s ease-in;
  }
  
  .main_swiperContainer {
    margin-block: 2em;
    padding-block: 2em;
  }
  
  .main_swiperImage {
    margin-block: 1.4em;
    width: 100%;
    height: 12em;
    object-fit: cover;
    cursor: pointer;
  }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .main_navContainer {
    display: flex;
    width: 70vw;
    margin-top: 2em;
    padding-block: 1.1em;
  }
  
  .main_navContainer>img {
    display: none;
  }
  
  .main_navContainer ul {
    display: flex;
    list-style: none;
    gap: 4em;
  }
  
  .main_navContainer li {
    display: flex;
  }

  .main_navContainer li img {
    display: none;
  }

  .main_navLink {
    font-size: 1.1em;
  }
  
  .main_navLink:hover {
    color: #f0bc28;
    transition: all 0.15s ease-in;
  }
  
  .main_infoContainer {
    width: 48em;
    height: auto;
    align-self: flex-end;
    margin: auto;
  }
  
  .main_infoContainer h1 {
    font-size: 2.2em;
    text-transform: uppercase;
  }
  
  .main_infoContainer h2 {
    font-size: 1.8em;
  }
  
  .main_infoContainer p {
    margin-top: 1em;
  }
  
  .main_infoContainer button {
    width: 100%;
    height: 3em;
    font-size: 1.4em;
  }
  
  .main_container button:hover {
    color: #f0bc28;
    transition: all 0.15s ease-in;
  }
  
  .main_swiperContainer {
    margin-block: 2em;
    padding-block: 2em;
  }
  
  .main_swiperImage {
    margin-block: 1.4em;
    width: 100%;
    height: 12em;
    object-fit: cover;
    cursor: pointer;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .main_navContainer {
    display: flex;
    width: 70vw;
    margin-top: 2em;
    padding-block: 1.1em;
  }
  
  .main_navContainer>img {
    display: none;
  }
  
  .main_navContainer ul {
    display: flex;
    list-style: none;
    gap: 6em;
  }
  
  .main_navContainer li {
    display: flex;
  }

  .main_navContainer li img {
    display: none;
  }

  .main_navLink {
    font-size: 1.1em;
  }
  
  .main_navLink:hover {
    color: #f0bc28;
    transition: all 0.15s ease-in;
  }
  
  .main_infoContainer {
    width: 44em;
    height: 30em;
    align-self: flex-end;
    margin: 6em 4em 0 0;
  }
  
  .main_infoContainer h1 {
    font-size: 2em;
    text-transform: uppercase;
  }
  
  .main_infoContainer h2 {
    font-size: 1.6em;
  }
  
  .main_infoContainer p {
    margin-top: 1em;
  }
  
  .main_infoContainer button {
    width: 100%;
    height: 3em;
    font-size: 1.4em;
  }
  
  .main_container button:hover {
    color: #f0bc28;
    transition: all 0.15s ease-in;
  }
  
  .main_swiperContainer {
    margin-block: 2em;
    padding-block: 2em;
  }
  
  .main_swiperImage {
    margin-block: 1.4em;
    width: 100%;
    height: 12em;
    object-fit: cover;
    cursor: pointer;
  }
  
}